
* {
    box-sizing: border-box;
}


body {
    background: #808080a2;
}

.main-container {
   background: #80808034;
   border-radius: 1rem;
   text-align: center;
   margin: 80% auto;
   padding: 2rem;
}


button {
    cursor: pointer;
    margin: 1rem auto;
    display: block;
    background: #808080a2;
    border: none;
    padding: 0.5rem;
}

button:hover {
    background: white;
    color: #808080a2;
}

.idea-display {
    display: none;
}

.visible {
    display: block;
    text-align: center;
    border-radius: 0.3rem;
    background: #6ae66ab6;
    border: none;
}

.invisible {
    display: none;
}